# IDE settings
**/.classpath
**/.project
**/.settings
**/*.jardesc
**/.settings/**

# Manually added artifacts
/liverepl-server/lib/clojure.jar
/jars/

# Build artifacts
/build/
/*/build/
/*/classes/
